.ipynb_checkpoints/
.scratch/
.vscode/
.idea/
*.joblib
*.csv
*egg-info*
py_env/
build/
dist/
rfi_gcsk.egg-info/
.DS_Store
__pycache__/
/examples/chains/data/
/examples/cnf_thesis/real_pseudoreal_dags/data/
venv/
.idea/
.venv/
build/
~/
examples_cg/
/experiments_cg/data/
/experiments_cg/models/
/experiments_cg/results/
